@import url("https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap");
@import "tailwindcss";


@theme {
  --font-moderna: "Playwrite IT Moderna";
  --color-primary: #b3d8a8;
  --color-secondary: #b3d8a8;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

